@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@300&family=Zen+Tokyo+Zoo&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

/* hamburger menu */
.hamburger {
  display: none;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.hamburger:focus > .hamburger__container {
  box-shadow: 0 0 2px 2px #51a7e8;
}

.hamburger:focus,
.hamburger__container:focus {
  outline: none;
}

.hamburger__container {
  z-index: 10;
  margin-right: 10px;
  display: flex;
  align-items: center;
  position: relative;
  width: 35px;
  height: 30px;
}

.hamburger__bars {
  position: absolute;
  width: 35px;
  height: 4px;
  border-radius: 2px;
  background-color: #ffffff;
  transition: transform 220ms ease-in-out;
}

.hamburger__bars::before,
.hamburger__bars::after {
  display: block;
  position: absolute;
  width: 35px;
  height: 4px;
  border-radius: 2px;
  background-color: #ffffff;
  content: "";
}

.hamburger__bars::before {
  top: -12px;
  transition: top 100ms 250ms ease-in, transform 220ms ease-in-out;
}

.hamburger__bars::after {
  bottom: -12px;
  transition: bottom 100ms 250ms ease-in, transform 220ms ease-in-out;
}

.hamburger--active .hamburger__bars {
  transform: rotate(225deg);
  transition: transform 220ms 120ms ease-in-out;
}

.hamburger--active .hamburger__bars::before {
  top: 0;
  transition: top 100ms ease-out;
}

.hamburger--active .hamburger__bars::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 100ms ease-out, transform 220ms 120ms ease-in-out;
}

/* hamburger navigation */

.hamburgerNav {
  display: none;
  z-index: 5;
  position: fixed;
  right: 0px;
  height: 100vh;
  width: 70%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px 0px 0px 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(16.8px);
  -webkit-backdrop-filter: blur(16.8px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  animation: SlideRight 0.5s ease-in;
}

.hamburgerNav nav {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
}

.hamburgerNav nav a {
  margin: 10px 0px 0px 15px;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}

.hamburgerNav nav a:hover {
  border-bottom: 2px white solid;
}

.hamburgerNav--active {
  display: block;
}

@keyframes SlideRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* HomePage desktop */
body {
  position: relative;
  background-image: url("/starter-code/assets/destination/background-destination-desktop.jpg");
  width: 100%;
  height: 100vh;
  min-height: 950px;
  background-size: cover;
  background-position: center;
}

.navigationBar {
  position: absolute;
  width: 95%;
  left: 5%;
  top: 40px;
  display: flex;
  justify-content: space-between;
}

.navigationBar nav {
  background-color: rgb(255, 255, 255, 0.04);
  backdrop-filter: blur(16.6px);
  -webkit-backdrop-filter: blur(16.6px);
  padding-top: 17px;
  padding-bottom: 12px;
  padding-right: 15%;
  padding-left: 9%;
  text-decoration: none;
  color: white;
}

.navigationBar nav a {
  margin-right: 25px;
  font-size: 25px;
  text-decoration: none;
  color: white;
}

.navigationBar nav a:hover {
  border-bottom: 4px white solid;
}

h3 {
  position: absolute;
  top: 212px;
  left: 166px;
  color: white;
  font-size: 30px;
}

#planetImg {
  position: absolute;
  left: 230px;
  bottom: 118px;
}

.destinationContent {
  position: absolute;
  width: 445px;
  right: 163px;
  bottom: 118px;
  color: #ffffff;
}

.destinationContent nav button {
  margin-right: 25px;
  color: #ffffff;
  border: none;
  font-size: 25px;
  background: none;
}

.destinationContent nav button:hover {
  border-bottom: 4px white solid;
}

.destinationContent h2 {
  font-size: 130px;
}

.destinationData {
  display: flex;
  margin-top: 100px;
}

.destinationData div {
  width: 50%;
}
#destinationDataDistance,
#destinationDataTime {
  font-size: 35px;
}

/* destination Tablet */
@media (max-width: 1050px) {
  body {
    background-image: url("/starter-code/assets/destination/background-destination-tablet.jpg");
  }

  .navigationBar nav {
    width: 70%;
    padding: 10px 10px 10px 40px;
  }

  .navigationBar nav a {
    margin: 0px, 10px, 0px, 0px;
    font-size: 18px;
  }
  .navigationBar nav a b {
    display: none;
  }
}
@media (max-width: 1300px) {
  h3 {
    top: 136px;
    left: 39px;
    font-size: 22px;
  }
  #planetImg {
    left: 50%;
    transform: translate(-50%, 0);
    top: 220px;
    width: 300px;
  }

  .destinationContent {
    text-align: center;
    bottom: 62px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .destinationContent nav button {
    font-size: 20px;
  }

  .destinationContent h2 {
    font-size: 80px;
  }
  .destinationData {
    margin-top: 40px;
  }
}

/* destination tablet */

@media (max-width: 740px) {
  body {
    min-width: 250px;
    background-image: url("/starter-code/assets/destination/background-destination-mobile.jpg");
  }

  .hamburger {
    display: block;
  }

  .navigationBar svg {
    width: 40px;
    height: 40px;
  }

  .navigationBar nav {
    display: none;
  }

  #planetImg {
    width: 170px;
    top: 180px;
  }

  h3 {
    top: 100px;
    width: 100%;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 18px;
  }
  .destinationContent {
    width: 80%;
  }
  .destinationContent {
    text-align: center;
    top: 400px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .destinationContent nav button {
    font-size: 15px;
  }

  .destinationContent h2 {
    font-size: 70px;
  }
  .destinationData {
    margin-top: 40px;
  }

  #destinationDataDistance,
  #destinationDataTime {
    font-size: 20px;
  }
}
